.navbar {
  background: #483d8b;
  padding: 16px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-toggle {
  background: none;
  border: none;
  cursor: pointer;
}

.toggle-icon {
  display: inline-block;
  width: 20px;
  height: 2px;
  background: white;
  transition: transform 0.3s ease-in-out;
}

.toggle-icon.active {
  transform: rotate(45deg);
}

.toggle-icon::before,
.toggle-icon::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: white;
  transition: transform 0.3s ease-in-out;
}

.toggle-icon.active::before {
  transform: translateY(8px) rotate(90deg);
}

.toggle-icon.active::after {
  transform: translateY(-8px) rotate(90deg);
}

.navbar-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin-left: 10px;
}

.navbar-item a {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 600px) {
  .navbar-toggle {
    display: none;
  }
  
  .navbar-menu {
    display: flex;
  }
  
  .navbar-item {
    margin-left: 10px;
  }
}
