
navbar{
    background: #483D8B ;
    padding: 16px;
    width: 100%;
display: inline-block;
}

ul li{
 
padding: 10px;
display: inline;
margin: 5px;
}
li{
    list-style: none;
    background: #fff;
    color: #483D8B;
}
ul a{
    text-decoration: none;
    
}
ul li a:hover{
    background:  #000;
    color: #fff;
    padding:10px;
  }
  @media screen and (max-width: 500px) {
    nav{
      display: block;
    }
    ul li {
      display: block;
    }
}