.Barra{
    padding: 16px;
    margin: 3px;
    background: #483D8B;
    width:50%;
    transition: 0.3s;
    border-radius: 50px;
}
.Barra a{
    text-decoration: none;
    color: #fff;
    width: 100%;

}
.Barra:hover{
    box-shadow: 0 8px 18px 0 rgba(0,0,0, 0.2);
cursor: pointer;
}