*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
h2{
    text-align: center;
    margin: 5px;
    color: #483D8B;
}
.homeLi{
display: inline;

}
.homeLi li{
  list-style:circle;
  margin: 4px;
}
.section-home{
    border: solid 3px #483D8B;
margin: 5px;
width: 90%;
margin-left: auto;
margin-right: auto;
}
/*.section-home:hover{
    background: #483D8B;
   
}*/
.barra{
    margin-top: 10px;
    margin-bottom: 50px;
    display: flex;
   
}
.Voltar{
    width: 30%;
}
@media screen and (max-width: 500px) {
.barra{ 
    display: inline;
    width: 50%;
}
}