footer{
    position: fixed ;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px;
    background:  #483D8B;
    color: #fff;
    text-align: center;
}
footer a, span{
    color: #fff;
    margin: 5px;
  }